html {
	height: 100%;
	background: url(/images/stripe.jpg);
}
body, html {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #1C1C1C;
	text-align: center;
}
body { background: url(/images/fade.png) repeat-x; padding-top: 20px; }
a { outline: none;}

.clear {	clear: both; }
.page_load {	text-align: center;}
.right { float: right; }
.left { float: left; }
h1 {	
	font-family: "American Typewriter", "Courier New", Courier, monospace;
	font-size: 60px;
}
.light { color: #4a60ae;}
.heavy { color: #7f6e50;}

h2, h3, h4, h5, p {
	font-weight: normal;
}
a { text-decoration: none;}

#wrap {
	width: 827px;
	margin: 0 auto;
	border: 1px solid #CCC;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background: #F2F2F2 url(/images/wrap-back.jpg) repeat-y;
}

#wrap-bar {
  background: #d3d9e9;
  height: 10px;
  border-bottom:1px solid #BDC4D6;
}
br {
	width: 100%;
	clear: both;
}


/* FORM STUFF */

form {
	clear: both;
}
.form_container { margin: 10px 0;}
label {	float: left; clear: both; margin: 4px 0; text-align: right; width: 30%; padding: 6px;}
input {	float: right; margin: 4px 0; width: 60%; padding: 6px; border: 1px solid #999;}
input:focus { background: #F6FFAB; }
input.submit { width: 100px; }

.input_error {
	font-size:10px;
	line-height:1px;
	text-align:right;
	color: #7A0000;
	width: 100%;
	float: right;
}
.input_error p {
	margin: 4px 0 0 0; padding: 0;
}
.input_error p.valid {
	color: green;
}

input.error {
	background: #FFCC8F;
}
input#remember {
  float: left;
  margin-left: 8px;
  margin-top: 9px;
}