<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Botworkz: Let us be your mom.</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
<%= stylesheet_link_tag 'scaffold' %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
	
	<div id="wrap">
    <div id="wrap-bar"></div>
		
		<div id="information"><div id="botworks"><a href="/"><h1><span class="light">bot</span><span class="heavy">Works</span></h1></a></div>
		<% if logged_in? %><div id="username"><h1><%= current_user.username %></h1></div><% end %>
		</div>
		

		<div id="projects">
			<a href="/clients">Clients</a>
			<a href="/projects">Project</a>
			<a href="/projects/archived">Archived</a>
			<div id="projects-list">
				
				
				<%= yield %>


			</div>
		</div>



		
		
			</div>
		<!-- Google Analytics -->
		</body></html>

